@use '../../variables';
// variables to keep column header and items the same size

$gap-between-columns: 10px;
$gap-between-columns-2: 7px;

$position-column-width: 70px;
$position-column-width-2: 20px;

$club-logo-column-width: 50px;
$mobile-club-logo-column-width: 40px;

$right-columns-width: 50px;
$right-columns-width-2: 20px;

$form-column-width: 200px;
$mobile-form-column-width: 40px;

$mobile-width: 650px; // width at which form becomes a dropdown, same as in TableRow.js
$mobile-width-2: variables.$mobile-layout-width; // width at which columns headers are shortened, same as in Table.js
$mobile-width-3: 490px; // width at which gap between columns shorten, img gets smaller

.league-table {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	border-spacing: 0px;
	padding-bottom: 30px;
	overflow-x: hidden;
	overflow-y: scroll;

	h1 {
		box-sizing: border-box;
		margin: 0;
		box-shadow: inset 0px -3px 6px 0px rgba(0, 0, 0, 0.3);
		background: url('../../images/primary-bg-with-graphic.svg');
		padding: 10px;
		width: 100%;
		min-height: 200px;
		color: white;
		font-size: 60px;
		line-height: 180px;
		text-align: center;
	}

	// table header
	tr:first-of-type :hover {
		cursor: default;
	}
	tr:first-of-type {
		display: flex;
		position: sticky;
		top: 0px;
		z-index: 1; // in front of table rows
		background-color: white;
		padding: 15px 0px;
		font-size: 14px;

		th {
			padding: 0px $gap-between-columns;
			color: #87668a;
			font-weight: bold;

			@media (max-width: $mobile-width-3) {
				padding: 0px $gap-between-columns-2;
			}
			@media (max-width: 380px) {
				padding: 0px 4px;
			}
		}
		// position column
		th:nth-child(1) {
			min-width: $position-column-width;
			@media (max-width: $mobile-width-2) {
				min-width: $position-column-width-2;
			}
		}
		// club logo column
		th:nth-child(2) {
			min-width: $club-logo-column-width;
			text-align: center;
			@media (max-width: $mobile-width-3) {
				min-width: $mobile-club-logo-column-width;
			}
		}
		// club column
		th:nth-child(3) {
			width: 100%;
		}
		// right side columns {
		th:nth-child(4),
		th:nth-child(5),
		th:nth-child(6),
		th:nth-child(7),
		th:nth-child(8),
		th:nth-child(9) {
			min-width: $right-columns-width;
			@media (max-width: $mobile-width-2) {
				min-width: $right-columns-width-2;
			}
		}
		// forms column
		th:nth-child(10) {
			min-width: $form-column-width;
			@media (max-width: $mobile-width) {
				min-width: $mobile-form-column-width;
			}
		}
	}

	// table rows
	tr {
		z-index: 0; // behind table header
		width: 100%;
		max-width: 1200px;
		color: #37003c;

		td {
			padding: 0px $gap-between-columns;
			@media (max-width: $mobile-width-3) {
				padding: 0px $gap-between-columns-2;
			}
			@media (max-width: 380px) {
				padding: 0px 4px;
			}

			img {
				width: $club-logo-column-width;
				height: $club-logo-column-width;
				@media (max-width: $mobile-width-3) {
					width: $mobile-club-logo-column-width;
					height: $mobile-club-logo-column-width;
				}
			}
		}

		// position column
		td:nth-child(1) {
			min-width: $position-column-width;
			text-align: center;
			@media (max-width: $mobile-width-2) {
				min-width: $position-column-width-2;
			}
		}
		// club column
		td:nth-child(3) {
			width: 100%;
			font-weight: 700;
			text-align: left;
		}
		// right side columns {
		td:nth-child(4),
		td:nth-child(5),
		td:nth-child(6),
		td:nth-child(7),
		td:nth-child(8),
		td:nth-child(9) {
			min-width: $right-columns-width;
			text-align: center;
			@media (max-width: $mobile-width-2) {
				min-width: $right-columns-width-2;
			}
		}
		// points column
		td:nth-child(9) {
			font-weight: bold;
		}
		// form column
		td:nth-child(10) {
			min-width: $form-column-width;
			text-align: center;

			// chevron
			img {
				width: 15px;
				height: 15px;
			}
			.upchevron {
				transform: scale(1.4);
			}

			@media (max-width: $mobile-width) {
				min-width: $mobile-form-column-width;
			}
		}
		@media (max-width: $mobile-width) {
			td:nth-child(10):hover {
				cursor: pointer;
			}
		}
	}

	// container for form when in default layout
	.form-container {
		display: flex;
		justify-content: center;
		gap: 5px;
		p {
			margin: 0;
			border-radius: 5px;
			width: 32px;
			height: 32px;
			color: white;
			font-weight: bold;
			line-height: 32px;
		}
		.win {
			background-color: #13cf00;
		}
		.draw {
			background-color: #76767b;
		}
		.lost {
			background-color: #d81920;
		}
	}

	// form dropdown when in mobile layout
	.form-dropdown {
		transition: height 0.5s;
		overflow: hidden;
		.form-dropdown-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 10px;
			margin-bottom: 15px;
			border-bottom: 1px solid black;
			padding: 10px;
			padding-bottom: 15px;
			font-weight: bold;
		}
	}
}
