@use '../../variables';
// variables to keep column header and items the same size

$gap-between-columns: 10px;
$gap-between-columns-2: 7px;

$position-column-width: 70px;
$position-column-width-2: 20px;

$club-logo-column-width: 50px;
$mobile-club-logo-column-width: 40px;

$right-columns-width: 50px;
$right-columns-width-2: 20px;

$form-column-width: 200px;
$mobile-form-column-width: 40px;

$mobile-width: 650px; // width at which form becomes a dropdown, same as in TableRow.js
$mobile-width-2: variables.$mobile-layout-width; // width at which columns headers are shortened, same as in Table.js
$mobile-width-3: 490px; // width at which gap between columns shorten, img gets smaller

.league-table {
	h1 {
		box-sizing: border-box;
		margin: 0;
		box-shadow: inset 0px -3px 6px 0px rgba(0, 0, 0, 0.3);
		background: url('../../images/primary-bg-with-graphic.svg');
		padding: 10px;
		width: 100%;
		min-height: 200px;
		color: white;
		font-size: 60px;
		line-height: 180px;
		text-align: center;
	}

	table {
		padding: 10px 0px;
		width: 100%;
		text-align: center;

		tr {
			th {
				color: #87668a;
			}
			// club header
			th:nth-child(2) {
				padding-left: 12.5px;
				text-align: left;
			}

			td {
				color: #37003c;
			}
			// club
			td:nth-child(2) {
				display: flex;
				align-items: center;
				// club logo
				img {
					padding: 5px 0px;
					width: 60px;
					min-width: 60px;
					height: 60px;
				}
				// club name
				div {
					padding-left: 15px;
					width: 100%;
					overflow-x: hidden;
					font-weight: 700;
					text-align: left;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}
			td:nth-child(8) {
				font-weight: 700;
			}
			// club form
			td:nth-child(10) > div {
				display: flex;
			}
		}
	}
}
