.league-table {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	flex: 1;

	// table header
	tr:first-of-type {
		z-index: 1; // in front of table rows
		position: sticky;
		top: 0px; // accounts for navbar
		background-color: white;

		:hover {
			cursor: default;
		}
	}

	tr {
		z-index: 0; // behind table header
		td {
			img {
				width: 35px;
				height: 35px;
			}
		}
		.form-display {
			overflow: hidden;
		}
	}
	tr:hover {
		cursor: pointer;
	}
}
