.main {
	display: flex;
	flex: 1;
	background-color: white;
	height: 100%;
	overflow-y: scroll;

	// vertical mobile layout
	@media (max-width: 850px) {
		flex-wrap: wrap;
		.standings {
			min-width: 0px;
		}
	}

	// container for standings table and matches table
	.standings-matches {
		box-sizing: border-box;
		width: 100%;
		min-width: 40vw;
		height: fit-content;
	}

	// headers for all tables
	h1 {
		margin: 0;
		border-bottom: 1px solid rgba(128, 128, 128, 0.2);
		border-radius: 10px 10px 0px 0px;
		background: url('https://www.premierleague.com/resources/rebrand/v7.124.0/i/elements/backgrounds/primary-bg-with-graphic.svg');
		padding: 10px 0px;
		object-fit: cover;
		color: white;
		font-size: 28px;
		text-align: center;
	}

	// matches table
	.current-matchday-matches {
		box-sizing: border-box;
		margin: 20px;
		border-top: none;
		border-radius: 10px;
		background-color: white;
		width: calc(100% - 40px); // subtracts margin from both sides

		.matches-table {
			display: flex;
			flex-direction: column;
			box-sizing: border-box;
			border: 0.5px solid rgba(128, 128, 128, 0.2);
			border-top: none;
			border-radius: 0px 0px 10px 10px;
			max-width: 100%;

			.matches-date-pair:last-child {
				border-bottom: 0px !important;
			}
			.matches-date-pair {
				border-bottom: 0.5px solid rgba(128, 128, 128, 0.2);
				padding-bottom: 16px;

				// date
				h2 {
					font-weight: 400;
					font-size: 18px;
					text-align: center;
				}

				// matches on a certain date
				.matches {
					display: flex;
					flex-direction: column;
					gap: 10px;

					// matches row
					tr {
						display: flex;
						justify-content: center;
						align-items: center;
						gap: 5px;

						img {
							width: 30px;
							height: 30px;
						}

						// match status display
						.match-live,
						.match-scheduled,
						.match-finished {
							box-sizing: border-box;
							border-radius: 5px;
							padding: 4px 0px;
							min-width: 30px;
							color: white;
							font-weight: bold;
							font-size: 10px;
							text-align: center;
						}
						.match-live {
							background-color: red;
						}
						.match-scheduled {
							background-color: gray;
						}
						.match-finished {
							background-color: green;
						}

						// first and second team names
						td:nth-child(2),
						td:nth-child(6) {
							width: 40px;
							font-weight: bold;
							font-size: 18px;
							text-align: center;
						}

						.score,
						.time {
							display: flex;
							justify-content: center;
							align-items: center;
							box-sizing: border-box;
							border-radius: 5px;
							width: 80px;
							height: 30px;
							text-align: center;
						}

						.score {
							td {
								box-sizing: border-box;
								background-color: #37003c;
								padding: 0;
								min-width: 30px;
								color: white;
								font-weight: bold;
								line-height: 30px;
								text-align: center !important;
							}
						}
						.time {
							border: 1px solid rgba(128, 128, 128, 0.2);
							color: #2f2f2f !important;
						}
					}
				}
			}
		}
	}

	// standings table
	.standings {
		box-sizing: border-box;
		background-color: white;
		padding: 20px;
		width: 100%;
		font-size: 18px;

		.standings-table {
			border: 0.5px solid rgba(128, 128, 128, 0.2);
			border-top: none;
			border-radius: 0px 0px 10px 10px;
			border-spacing: 0px 5px;
			padding: 16px;
			max-width: 100%;

			// table header
			tr:first-of-type {
				th {
					padding-bottom: 10px;
					color: #6c6c6c;
				}
				// position column
				th:nth-child(1) {
					width: 20px;
				}
			}

			// table rows
			tr {
				td {
					img {
						padding: 0px 5px;
						width: 35px;
						height: 35px;
					}
				}

				// position column
				td:nth-child(1) {
					width: 20px;
					text-align: center;
				}
				// club logo column
				td:nth-child(2) {
					display: flex;
					justify-content: center;
				}
				// club name
				td:nth-child(3) {
					width: 100%;
				}
				// right columns
				td:nth-child(4),
				td:nth-child(5),
				td:nth-child(6) {
					min-width: 40px;
					text-align: center;
				}
				// points column
				td:nth-child(6) {
					font-weight: bold;
				}
			}
		}
	}

	.news {
		display: flex;
		flex-wrap: wrap;
		background-color: white;
		padding: 20px;
		width: 100%;
		height: fit-content;

		h1 {
			margin: 0;
			border-bottom: 1px solid rgba(128, 128, 128, 0.2);
			padding-bottom: 10px;
			width: 100%;
		}

		.articles {
			display: flex;
			flex-direction: column;
			gap: 30px;
			border: 0.5px solid rgba(128, 128, 128, 0.2);
			border-top: none;
			border-radius: 0px 0px 10px 10px;
			border-spacing: 0px 5px;
			padding: 16px;

			.article {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 10px;
				box-sizing: border-box;
				color: inherit;
				text-decoration: none;

				.article-info {
					width: 100%;
				}

				// article source
				p {
					color: #e90052;
					font-weight: bold;
					font-size: 11px;
				}

				// article title
				h2 {
					font-weight: 400;
					font-size: 16px;
				}
				h2:hover {
					text-decoration: underline;
				}

				// thumbnail
				.thumbnail-container {
					min-width: 120px;
					height: 120px;
					overflow: hidden;
				}
				img {
					transition: all 0.5s;
					width: 120px;
					height: 120px;
				}
			}
			.article:hover {
				img {
					transform: scale(1.1);
				}
			}
		}
	}
}
