.main {
	flex: 1;
	background-color: rgb(55, 0, 60);
	height: 100%;
	overflow-y: scroll;

	.news {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
		padding: 20px;
		background-color: white;

		h1 {
			margin-bottom: -10px;
			border-bottom: 1px solid rgba(128, 128, 128, 0.2);
			padding-bottom: 10px;
			width: 100%;
		}

		.article > a {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 10px;
			width: 100%;
			box-sizing: border-box;
			text-decoration: none;
			color: inherit;
			max-width: 500px;

			p {
				font-size: 11px;
				color: #e90052;
				font-weight: bold;
			}

			h2 {
				font-size: 16px;
				font-weight: 400;
			}
			h2:hover {
				text-decoration: underline;
			}

			.thumbnail-container {
				min-width: 120px;
				height: 120px;
				overflow: hidden;
			}
			img {
				transition: all 0.5s;
				width: 120px;
				height: 120px;
			}

			.article-info {
				width: 100%;
			}
		}
		.article:hover {
			img {
				transform: scale(1.2);
			}
		}
	}
}
