// css for both results and fixture pages
.league-results,
.league-fixtures {
	display: flex;
	flex: 1;
	flex-direction: column;
	border-spacing: 0px;
	overflow-y: scroll;

	h1 {
		box-sizing: border-box;
		margin: 0;
		background: url('../../images/primary-bg-with-graphic.svg');
		padding: 10px;
		min-height: 200px;
		color: white;
		font-size: 60px;
		line-height: 180px;
		text-align: center;
	}

	.matches-on-date:nth-child(2) {
		box-shadow: 0px -3px 6px 0px rgba(0, 0, 0, 0.3);
	}
	.matches-on-date {
		display: flex;
		flex-direction: column;

		// date
		h2 {
			align-self: flex-start;
			margin: 0;
			padding: 20px;
			font-weight: bold;
			font-size: 20px;
		}

		.match:first-of-type {
			border-top: 1px solid rgba(128, 128, 128, 0.2);
		}
		.match {
			display: flex;
			justify-content: center;
			box-sizing: border-box;
			border-bottom: 1px solid rgba(128, 128, 128, 0.2);
			padding: 10px;
			padding-left: 150px; // accounts for stadium width on right
			width: 100%;

			// match-info and stadium container
			div {
				display: flex;
				justify-content: center;
				align-items: center;
			}

			@media (max-width: 850px) {
				flex-direction: column;
				align-items: center;
				padding-left: 0px;
			}

			td {
				font-weight: bold;
				img {
					padding: 0px 10px;
					width: 30px;
					height: 30px;
				}
			}

			// first team name
			td:nth-child(1) {
				text-align: right;
			}

			// both logos
			td:nth-child(2),
			td:nth-child(4) {
				display: flex;
				align-items: center;
			}

			// score/time
			td:nth-child(3) {
				display: flex;
				justify-content: center;
				border: 1px solid rgba(128, 128, 128, 0.2);
				border-radius: 10px;
				background-color: rgb(55, 0, 60);
				padding: 0px 5px;
				min-width: 80px;
				min-height: 35px;
				color: #2f2f2f;
				color: white;
				line-height: 35px;
				text-align: center;
			}

			// both team names
			td:nth-child(1),
			td:nth-child(5) {
				min-width: 150px;
				font-size: 18px;

				@media (max-width: 550px) {
					// when team names are shortened
					min-width: 50px;
				}
			}

			// stadium
			> td {
				display: flex;
				align-items: center;
				width: 150px;
				overflow: hidden;

				img {
					padding: 0px 5px !important;
					width: 20px !important;
					height: 20px !important;
				}
				p {
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;
					display: -webkit-box;
					overflow: hidden;
					font-size: 10px;
					text-overflow: ellipsis;
				}

				@media (max-width: 850px) {
					width: fit-content;
				}
			}
		}
	}
}
