$mobile-size: 620px; // size in which layout changes to mobile, same in Navbar.js

.navbar {
	background-color: rgb(55, 0, 60);
	display: flex;
	box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.4);
	z-index: 2; // in front of table standings header

	@media (max-width: $mobile-size) {
		flex-direction: column;
	}

	.logo {
		display: flex;
		width: 120px; // same as buttons
		margin-right: 10px;

		.lion-logo {
			height: 40px;
			padding: 10px;
			padding-right: 0px;
			width: auto;
			filter: brightness(0) invert(1);
		}
		.text-logo {
			height: 33px;
			width: auto;
			margin-top: auto;
			margin-bottom: 1px;
			padding: 10px;
			filter: brightness(0) invert(1);
		}

		.hamburger-icon {
			margin: auto;
			margin-right: 0px;
			padding: 15px;
			width: auto;
			height: 30px;
			filter: brightness(0) invert(1);
		}
		.hamburger-icon:hover {
			cursor: pointer;
		}

		@media (max-width: $mobile-size) {
			width: 100%;
		}
	}

	.buttons {
		display: flex;
		overflow: hidden;
		transition: height 0.5s;

		@media (max-width: $mobile-size) {
			flex-direction: column;
			align-items: center;

			button {
				min-height: 60px; // same size as logo
				width: 100% !important;
			}
		}

		button {
			width: 120px;
			background-color: transparent;
			border: none;
			color: white;
			font-family: inherit;
			font-weight: bold;
			font-size: 15px;
		}

		button:hover {
			transition: background-color 0.5s, color 0.5s;
			color: black;
			background-color: white;
		}
	}
}
