.filters {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 20px;

	// team filter, start/end date containers
	> * {
		display: flex;
		position: relative;
		box-sizing: border-box;
		border: 0.5px solid rgba(128, 128, 128, 0.2);

		padding: 10px;
		width: fit-content;
		min-width: 200px;
		min-height: 64px;
	}

	.team-filter-container {
		div {
			display: flex;
			flex-direction: column;
			h3 {
				margin: 0px;
				color: #37003c;
				font-weight: 300;
				font-size: 12px;
			}

			p {
				margin: 0px;
				color: #37003c;
			}
		}

		img {
			margin: auto;
			margin-right: 0;
			width: 20px;
			height: 20px;
		}
		.upchevron {
			transform: scale(1.4);
		}

		.team-filter-dropdown {
			display: flex;
			position: absolute;
			top: 57px;
			flex-direction: column;
			z-index: 2;
			margin-left: -10px; // account for padding in container
			background-color: white;
			width: 100%;
			max-height: 150px;
			overflow: hidden;
			overflow-y: auto;

			div {
				padding: 10px;
				font-weight: 300;

				&:hover {
					color: lighten(#37003c, 25%);
				}
			}
		}
		&:hover {
			cursor: pointer;
		}
	}

	.start-date-filter-container,
	.end-date-filter-container {
		display: flex;
		flex-direction: column;

		label {
			color: #37003c;
		}
	}
}
