@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;700;800&display=swap');

html,
body,
#root,
.App {
	height: 100%;
}

html,
body {
	overflow-x: hidden;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	margin: 0;
	font-family: 'Merriweather Sans', sans-serif !important;
}

button:hover {
	cursor: pointer;
}

.App {
	display: flex;
	flex-direction: column;
}

.main,
.league-fixtures,
.league-results,
.league-table {
	overscroll-behavior-y: none;
}
