body {
	margin: 0;
	font-family: PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button:hover {
	cursor: pointer;
}
